.profile__add-button {
    width: 145px;
    min-height: 46px;
    border: 2px solid #fff;
    border-radius: 2%;
    align-self: center;
    background-image: url(../../../images/add-button.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 22px 22px;
}

.profile__add-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .profile__add-button {
        margin-top: 30px;
    }
}

@media screen and (max-width: 425px) {
    .profile__add-button {
        width: 100%;
        max-width: 282px;
        min-height: 50px;
        margin-top: 30px;
        background-size: 16px 16px;
    }
}