.profile__edit-button {
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    align-self: last baseline;
    margin-left: 18px;
    margin-bottom: 10px;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    background-image: url(../../../images/edit-button.svg);
    background-size: 10px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 880px) {
    .profile__edit-button {
        margin-left: 10px;
        margin-bottom: 0;
        align-self: center;
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
    }
}