.popup__close-button {
    padding: 0;
    z-index: 2;
    width: 32px;
    height: 32px;
    background-image: url(../../../images/close-button.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -36px;
        right: 0;
    }
}