.elements__like-button {
    background-image: url(../../../images/like-button.png);
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    align-self: center;
    padding-right: 20px;
}

.elements__like-button:hover {
    opacity: 0.5;
    cursor: pointer;
}